<style>
 pre div
 {
	 border: 1px solid black;
	 margin: 1px;
	 padding: 1px;
	 overflow: hidden;
	 display: inline-block;
	 vertical-align: middle;
 }
 pre span
 {
	 display: inline-block;
	 vertical-align: middle;
 }
</style>

<pre><div><div><div><div><div><span>void </span></div><div><span>main</span></div></div><div><span>() </span></div></div><div><span>{ </span><div><div><span>import </span></div><div><div><div><span>std</span></div><div><span>.</span></div></div><div><div><span>stdio</span></div></div></div><span>; </span></div><div><div><div><span>writeln</span></div><div><span>(</span><div><div><div><span>2 </span></div><div><span>+ </span></div></div><div><div><div><div><span>2 </span></div><div><span>* </span></div></div><div><div><span>2</span></div></div></div></div></div><span>)</span></div></div><span>; }</span></div></div></div></div></pre>